
#QUERY
uniprotID=Q9Y375
blastPath=/usr/bin/
blastProtDB=/path/to/uniref100_database

#RESULTS
output=/path/to/output/directory/
write=arff,msa,neutresMsaID

#MUTATION SET
pathological=humsavarDB
neutral=msaBuild
predicting=sysMut

#PROPERTIES
vdwVolume=True
hydrophobicity=True
substitutionMatrix=True
pssm-native=True
pssm-mutated=True
entropy=True
freqGaps=True
impRes=True
absoluteFlag=True

#DATABASES
humsavarDB=/PatMut/metadata/humsavar_20160706.txt
uniprotImpResDB=/PatMut/metadata/impRes_20150304.tsv
vdwVolumeDB=/PatMut/metadata/vdwVolume_sergi.tsv
hydrophobicityDB=/PatMut/metadata/hydrophobicity_sergi.tsv
substitutionMatrixDB=BLOSUM62

#BUILD MSA
msaBuild=True
numIter=2
evalue=0.001
minSeqIden=40
muscleAlg=/usr/bin/

#Modelling Neutral Variants from MSA
idmin=0.95
idmax=1